.font_size_xs {
  font-size: 10px;
}

.font_size_s {
  font-size: 14px;
}

.font_size_m {
  font-size: 16px;
}

.font_size_m-top {
  font-size: 16px;
}

.font_size_l {
  font-size: 24px;
}

.font_size_xl {
  font-size: 30px;
}

@media screen and (max-width: 320px){
  .font_size_l {
    font-size: 18px;
  }
  .font_size_xl {
    font-size: 16px;
  }
  .font_size_m {
    font-size: 24px;
  }
}
