@import url(./_style/font_style.css);
@import url(./_size/font_size.css);
@import url(./_lh/font_lh.css);

@font-face {
  src: url(../../vendor/fonts/Inter-Regular.woff2),
       url(../../vendor/fonts/Inter-Regular.woff);
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(../../vendor/fonts/Inter-Bold.woff2),
       url(../../vendor/fonts/Inter-Bold.woff);
  font-family: 'Inter';
  font-weight: bold;
}

@font-face {
  src: url(../../vendor/fonts/Inter-Black.woff2),
       url(../../vendor/fonts/Inter-Black.woff);
  font-family: 'Inter';
  font-weight: 900;
}

.font {
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
