.font_style_regular {
  font-size: 18px;
  line-height: 1.22;
}

.font_style_accent {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

.font_style_cover-title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

.font_style_title {
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
}

.font_style_intro-title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
}

.font_style_intro-list {
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
}

.font_style_intro-list-norm {
  font-weight: normal;
}

.font_style_place-url {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

.font_style_place-ph {
  font-size: 18px;
  line-height: 1.67;
}

@media screen and (max-width: 768px){
  .font_style_accent {
    font-size: 42px;
    line-height: 1.1;
  }
  .font_style_place-ph {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 720px){
  .font_style_title {
    font-size: 64px;
  }
}

@media screen and (max-width: 500px){
  .font_style_title {
    font-size: 40px;
    line-height: 1.1;
  }
  .font_style_cover-title {
    font-size: 32px;
    line-height: 1.09;
  }
  .font_style_regular {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 320px){
  .font_style_intro-title {
    font-size: 32px;
    line-height: 1.09;
  }
  .font_style_accent {
    font-size: 32px;
    line-height: 1.09;
  }
}
