.cover__title {
  max-width: 560px;
  width: 75%;
  margin-bottom: 32px;
  margin-top: 0;
  text-align: center;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

@media screen and (max-width: 480px){
  .cover__title {
    margin: 0 16px 32px;
    font-size: 32px;
    line-height: 1.09;
  }
}
